= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f|
  .card.card-block.devise
    %h2.card-title.devise= t('devise_forms.passwords.edit.title')

    .card-text.devise
      = devise_error_messages!
      = f.hidden_field :reset_password_token

      .row.form-group
        %label.col-sm-4.form-control-label.text-sm-right.devise{for: 'inputPassword1'}
          = t('devise_forms.user.new_password')
        .col-md-8
          = f.password_field :password, class: 'form-control form-control-sm',
                                        id: 'inputPassword1',
                                        placeholder: t('devise_forms.user.password_placeholder'),
                                        autocomplete: 'off'

          - if @minimum_password_length
            .help-block.devise
              = t('devise_forms.message.minimum_password_length', min_len: @minimum_password_length)

      .row.form-group
        %label.col-sm-4.form-control-label.text-sm-right.devise{for: 'inputPasswordConfirm1'}
          = t('devise_forms.user.confirm_password')
        .col-md-8
          = f.password_field :password_confirmation, class: 'form-control form-control-sm',
                                                     id: 'inputPasswordConfirm1',
                                                     autocomplete: 'off'

      .row.form-group
        .col-sm-offset-4.col-sm-8
          = f.submit t('devise_forms.passwords.edit.button'), class: 'btn btn-success'
    .card-footer.text-sm-right.devise
      = render 'devise/shared/links'
